* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial;
    margin: 0;
  }
  html,body
{
    overflow-x: hidden; 
}  
  .exclusionzone{
    top:0%;
    display:flex;
    width:100%;
    height:40px;
  }
  
  .navbar {
    display: flex;
    background-color:white;
    width:100%;
    position:fixed;
    top:0%;
    height:40px;
  }
  .navbar a {
    color: black;
    width: 8%;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
  }
  .navbar b{
    width:72%;
    background-color: white;
    color: white;
  }
  .navbar a:hover{
    color:blue;
  }


.popup {
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image:url('bg1.jpg');background-size:cover;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  .intro{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-flow: wrap;
  }
  .continue{
    display: flex;
    height:40px;
    align-content: center;
    justify-content:center;
    margin-top: 0px;
  }
  .continue a {
    text-decoration: none;
    font-size: 25px;
    color:black;
    transition: 0.3s;
  }
  .continue a:hover {
    color: #f1f1f1;
  }
  .icon{
    display: flex;
    justify-content: center;
  }
  .icon a{
    font-size:40px;
    color:white;   
  }
  .icon a:hover{
    color:black;
  }
  .openbtn {
    cursor: pointer;
    background-color:white;
    color: black;
    border: none;
  }

.tdark{
  display:flex;
  flex-direction:column;
  background-color:white;     
}
.tdhead{
  width: 100%;
  display: flex;
  flex-direction: column;
  height:130px;
  background-color: #00bd72;
}
.tdhead a{
  text-align: center;font-size: 70px;margin-top: 10px;
}
.aboutme{
  background-color: white;
  display: flex;
}
.amphoto{
  flex:25%;
  margin-top: 60px;
  margin-left: 90px;
}
.amintro{
  display: flex;
  flex-direction: column;
  flex: 75%;
  margin-top: 40px;
  margin-left: 20px;
}
.amicon{
  display: flex;
}
.amicon b{
  flex: 50%;
}
.whnwhr{
  margin-left: 20px;margin-top: 60px;
}
.whnwhr b{
  font-size: 40px;
}
.whnwhr c{
  font-size: 20px;
}

.interests{
  display: flex;
  flex-direction: column;
}
.amintro a{
  font-size: 20px;margin-right: 60px;margin-top: 40px;
}



  .art{
      display:flex;
      flex-direction:column;
      background-color:white;  
      margin-top: 40px;   
  }
  .arthead{
    width: 100%;
    display: flex;
    flex-direction: column;
    height:130px;
    background-color: #f80043;
  }
  .arthead b a{
    padding:0px 5px;
  }
  .main{
      display:flex;
      flex-direction: column;
  }
  .anime{
      display:flex;
      height:300px;
      margin-top: 60px;
  }
  .anime1{
    flex: 70%;
    overflow:auto;
    white-space: nowrap;
  }
  .anime2{
    flex:30%;
    margin-top: 20px;
    margin-left:20px;
  }
  .fanarts{
    display:flex;
    height:300px;
    margin-top: 60px;
}
.fanart1{
  flex: 70%;
  overflow:auto;
  white-space: nowrap;

}
.fanart2{
  flex:30%;
  margin-top: 20px;
  margin-left:20px;
}
.oc{
  display:flex;
  height:300px;
  margin-top: 60px;

}
.oc1{
flex: 70%;
overflow :auto;
white-space: nowrap;
}
.oc2{
flex:30%;
margin-top: 20px;
margin-left:20px;
}


.careerhead{
  width: 100%;
  display: flex;
  flex-direction: column;
  height:130px;
  background-color: #08bdff;
}
.careerhead b a{
  padding:0px 5px;
}

.eds{
  display:flex;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;
}
.eds a{
  height:240px;
  flex:30%;
  background-color:#66e1ff;
  padding:20px 20px 20px 20px;
}
.eds b{
  flex:10%;
}
.eds a:hover{
  background-color: #66bdff;
}

.sks{
  display:flex;
}
.skillcont{
  margin-top: 15px;
  flex: 50%;
}
.skillcont a{
  font-size: 20px;
  margin-left: 60px;
}



.button1{
  background-color:#66e1ff;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px; 
  width:300px;
  border-style: solid;
  border-color: black;
}



.social{
  display:flex;
  flex-direction:column;
  background-color:white;     
}
.socialheading{
height:180px;
background-color: #FF2E71;
width:100%;
display:flex;
}

#videoDiv {
  width: 100%;
  height: 540px; 
  position: relative;

  background-color: brown;
}
#videoBlock {
  width: 100%; 
  height: 360px;  
  justify-content: center; 
  align-items: center;
}
#titlee {
  width: 100%; 
  height:100%; 
  position: absolute; 
  top: 0; left: 0;
  display: flex;
  flex-direction: column;
}

.titlhead{
  width:100%;
  text-align: center;
  margin-top: 30px;
}

.exzvid{
  height:180px;
  background-color: white;
}
.discordbutton{
  background-color:#66bdff;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; 
  width:300px;
  margin-left:18px;
}
.listgames{
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
}
.listgames a{
  font-size: 20px;
  padding: 16px 16px;
  background-color: black;opacity: 0.7;
  color: white;
  padding: 30px 0px;
  width:33.3%;
  text-align: center;
  height:80px;
}
























@media only screen and (max-width: 1024px){

.navbar b{
  width: 0%;
}
.navbar a{
  width: 25%;
}

.tdhead a{
  font-size: 60px;
}
.aboutme{
  flex-direction: column;
}
.amintro a{
  font-size: 20px;

}















  .anime{
    flex-direction:column-reverse;
    height:400px;
  }

  .fanarts{
    flex-direction: column;
    height:400px;
  }
  .oc{
    flex-direction: column-reverse;
    height:400px;
  }

  .eds{
    flex-direction: column;
  }
  .eds a{
    margin-top: 5px;
  }
  .prs k{
    flex-direction: column;
  }
  .amintro{
    margin-top: 0px;
  }
  .whnwhr{
    margin-top: 10px;
  }









  .button1{
    margin-left:20px;
  }
  .button2{
    margin-left: 20px;
  }




}
