* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  .exclusionzone{

    top:0%;
    display:flex;
    width:100%;
    height:40px;
  }
  
  .navbar {
    display: flex;
    background-color:white;
    width:100%;
    position:fixed;
    top:0%;
    height:40px;
  }
  .navbar a {
    color: black;
    width: 10%;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
  }
  .navbar a:hover{
    color:blue;
    background-color: black;
  }


.popup {
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image:url('bg1.jpg');background-size:cover;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }

  .intro{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-flow: wrap;
  }

  .continue{
    display: flex;
    height:40px;
    align-content: center;
    justify-content:center;
    margin-top: 0px;

  }
  .continue a {
    text-decoration: none;
    font-size: 25px;
    color:black;
    transition: 0.3s;

  }
  .continue a:hover {
    color: #f1f1f1;
  }
  .icon{
    display: flex;
    justify-content: center;


  }
  .icon a{
    font-size:40px;
    color:white;   
  }
  .icon a:hover{
    color:black;
  }


  

  .openbtn {
    cursor: pointer;
    background-color:white;
    color: black;
    border: none;
  }

  .art{
      display:flex;
      flex-direction:column;
      background-color:white;
      
  }
  .artheading{
    height:180px;
    background-color: #FF2E71;
    width:100%;
    display:flex;
  }
  .main{
      display:flex;
      flex-direction: column;
  }
  .anime{
      display:flex;
      height:300px;
      margin-top: 60px;

  }
  .anime1{
    flex: 70%;
    overflow:auto;
    white-space: nowrap;

  }
  .anime2{
    flex:30%;
    margin-top: 20px;
    margin-left:20px;
  }
  .fanarts{
    display:flex;
    height:300px;
    margin-top: 60px;
}
.fanart1{
  flex: 70%;
  overflow:auto;
  white-space: nowrap;

}
.fanart2{
  flex:30%;
  margin-top: 20px;
  margin-left:20px;

}

.oc{
  display:flex;
  height:300px;
  margin-top: 60px;

}
.oc1{
flex: 70%;
overflow :auto;
white-space: nowrap;
}
.oc2{
flex:30%;
margin-top: 20px;
margin-left:20px;
}



@media only screen and (max-width: 1024px){
  .exclusionzone{
    height:158px;
  }
  .navbar{
    flex-direction:column;
    width: 100%;
    height: 160px;
    position: absolute;
  }
  .navbar a{
    width: 100%;
    text-align: center;
  }
  .anime{
    flex-direction:column-reverse;
    height:400px;
  }

  .fanarts{
    flex-direction: column;
    height:400px;
  }
  .oc{
    flex-direction: column-reverse;
    height:400px;
  }








}
